.container-presentacion{
    background-image: url(../images/presentacion-home.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 47rem;
    position: relative;
    top: -100px;    
    overflow: hidden;   
    transition: all 0.2s;
    
}


@media (max-width: 1150px){

    .container-presentacion{
        background-size: contain;
    }
}



@media (max-width: 785px){
.container-presentacion{ 
    background-image: url(../images/presentacion-home-app.jpg);
    background-size: cover;
    top: -320px;
    height: 55rem;
}

}