.container-logo {
    max-width: 23rem;
    text-align: center;
    margin: 4rem;
}

.img-logodos {
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.5));
}

.logo-p {
    font-size: 40px;
    color: var(--brown);
}

.corazon-home {
    max-width: 7rem;
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.5));
    animation-name: latir;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes latir {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2); 
    }

    100% {
        transform: scale(1.);
    }
}

@media (max-width: 1280px){

    .container-logo{
        margin: 2rem;
    }
}

@media (max-width: 1140px){

    .container-logo{
        max-width:18rem;
        margin: 3rem;
    }
}

@media (max-width: 955px){

    .container-logo{
        max-width:15rem;
        margin: 2rem;
    }

    .logo-p{
        font-size: 30px;
    }
}

@media (max-width: 783px){

    .container-logo{
        display:none;
    }
}


