.nav-redes-lista {
    display: flex;
    justify-content:center;
    padding: 1rem 0;
}

.nav-redes-lista-item {
    list-style: none;
}

.nav-redes-lista-item-a {
    cursor: pointer;
}

.nav-redes-lista-item-a:hover{
     filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
    
}

.redes-sociales{
    width: 2rem;
    margin: 0 8px;
}

@media (max-width: 785px){

   .redes-sociales{
    width: 3rem;
   }   
}