.header-nav{
  max-width: 100%;
  background-color:var(--greySmooth);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 3;
}


.logo-a{
  cursor: pointer;
}

.logo-a:hover{
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.5));
}

.logo-img{
  width: 15rem;
  margin: 0 1rem;
}

.nav-list{
  display: flex;
  justify-content:center;
  padding: 1rem 0;
}

.nav-list_item {
  list-style: none;
}

.nav-list_item-a{
  padding: 8px;
  margin: 0 1rem;
  color: var(--brown);
  font-weight:bolder;
  font-size:18px;
  cursor:pointer;
  text-decoration: none;
}

.nav-list_item-a:hover{
  text-decoration: underline;
}

@media (max-width: 785px){

  .header-nav{
    display: block;
    flex-wrap: wrap;
    text-align: center;
  }



  .nav-list{
    display: block;
  }

  .nav-list_item-a{
    font-size: 25px;
   

  }

}