* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Shadows Into Light', cursive;
}

:root {
    --brown:#39200A;
    --beigeStrong:#D5BDAF;
    --beigeSmooth:#edede9;
    --beige:#e3d5ca;
    --greySmooth:#D9D9D9;
    

}

img {
    max-width: 100%;
}

body {
    background-color: #D5BDAF;
}
